{% extends "SharedTemplates/index.html" %}
{% load static%}

{% block page_title %}
About Us
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">About Us</h1>
{% endblock masthead_title %}

{% block masthead_content %}
<div class="row">
    <!-- Descripción Maria Eugenia Lin -->
    <div class="col-lg-4 mx-auto">
        <p class="lead text-justify">
            <div class="request-detail">
                <img class="img-thumbnail" src= {% static "assets/img/portfolio/maria.jfif" %} alt="..." /><br>
                <p style="font-size: 25px">
                    Maria Eugenia Lin (25 años)
                </p><br>
                    <p style="font-size: 18px">
                    Siempre fui muy empática y sensible desde chica. 
                    Hoy en día, la salud mental me parece un tema muy 
                    relevante y es por eso que quiero facilitar el espacio 
                    para que los demás lo puedan hacer.
                </p>
            </div>
        </p>
    </div>
    <!-- Fin decripción Maria Eugenia Lin -->

    <!-- Descripción Francisco Levin -->
    <div class="col-lg-4 mx-auto">
        <p class="lead text-justify">
            <div class="request-detail">
                <img class="img-thumbnail" src= {% static "assets/img/portfolio/francisco.jfif" %} alt="..."/><br>
                <p style="font-size: 25px">
                    Francisco Levin (26 años)
                </p><br>
                <p style="font-size: 18px">
                    Aprender sobre las emociones y cómo cuidar nuestra mente 
                    es esencial para vivir una vida plena. La empatía y la 
                    comprensión son herramientas poderosas que nos permiten 
                    conectarnos con los demás en un nivel más profundo.
                </p>
            </div>
        </p>
    </div>
    <!-- Fin Descripción Francisco Levin -->

{% endblock masthead_content %}

