{% extends "SharedTemplates/index.html" %}
{% load static%}

{% block page_title %}
Therapy Connect - About Us
{% endblock page_title %}

{% block masthead_title %}
<img class="masthead-avatar mb-5" src={% static "assets/img/avataaars.svg" %} alt="..." />
<h1 class="masthead-heading text-uppercase mb-0">About</h1>
{% endblock masthead_title %}

{% block masthead_content %}
<p>Conocenos un poco</p>
<p>
¿Buscas apoyo emocional o deseas brindarlo? TerapistaWeb te proporciona 
las herramientas que necesitas para encontrar el equilibrio emocional que 
estás buscando. Descubre un espacio de conexión confiable y gratuito para 
terapeutas y pacientes.
</p>
<p>
Encuentra terapeutas o pacientes en TerapistaWeb de manera rápida y 
sencilla. Nuestra plataforma gratuita te ofrece la oportunidad de 
publicar tus solicitudes o buscar profesionales de la salud mental 
en un entorno amigable y seguro.
</p>
{% endblock masthead_content %}