{% extends "SharedTemplates/index.html" %}

{% block page_title %}
Solicitá ayuda
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">Publicá tu solicitud de ayuda</h1>
{% endblock masthead_title %}

{% block masthead_content %}
<div class="request-detail">
    <form action= {% url "create-therapy-request" %} method="POST"> 
        {% csrf_token %} 
        <table>
        {{form}}
        {{form.media}}
        </table>
        <br>
        <input type="submit" value="Crear" />
    </form>
</div>
{% endblock masthead_content %}