{% extends "SharedTemplates/index.html" %}
{% load static %}

{% block page_title %}
Solicitudes de Ayuda
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">Solicitudes de Ayuda</h1>
{% endblock masthead_title %}

{% block masthead_content %}

<button onclick="window.location.href='{% url 'create-therapy-request' %}'">Creá tu Solicitud</button><br>

{% if therapy_request_list %}
<div class="request-detail">
    <p><strong>Solicitudes Disponibles</strong></p>
    <ul>
        {% for request in therapy_request_list %}
        <li>
            <a style="color: white;" href = {% url "detail-therapy-request" request.id %}>{{request}}</a> 
            || <a style="color: white;" href = {% url "update-therapy-request" request.id %}>Editar</a> 
            || <a style="color: white;" href={% url "delete-therapy-request" request.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
<div>
{% else %}
<p>No se han encontrado solicitudes.</p>
{% endif %}

{% endblock masthead_content %}