{% extends "SharedTemplates/index.html" %}
{% load static%}

{% block page_title %}
Modalidades de terapia
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">Modalidades de terapia</h1>
{% endblock masthead_title %}

{% block masthead_content %}
<p class="lead text-justify">
    Cada persona es única, y por lo tanto, la elección de la modalidad 
    terapéutica adecuada depende de las necesidades individuales y de la 
    situación específica de cada paciente.
</p>

<div class="row"> 
    <div class="col-lg-5 mx-auto">
        <div class="request-detail">
            <h4>Terapia Cognitivo-Conductual</h4> 
                <p>
                    Se centra en identificar y cambiar patrones de pensamiento y comportamiento 
                    negativos o ineficaces. Ayuda a los individuos a desarrollar habilidades para 
                    enfrentar problemas y mejorar su bienestar emocional.
                </p>
        </div><br>
        
        <div class="request-detail">
            <h4>Terapia Psicodinámica</h4> 
                <p>
                    Se basa en las teorías de Freud y se centra en explorar el inconsciente para 
                    comprender los conflictos subyacentes que pueden afectar el comportamiento y 
                    las emociones. Se presta atención a las relaciones pasadas y las experiencias de la infancia.
                </p>
        </div><br>

        <div class="request-detail">
            <h4>Terapia Humanista</h4> 
                <p>
                    Pone énfasis en el crecimiento personal y el desarrollo del individuo. Se centra 
                    en la autoexploración, la autoaceptación y la autoactualización. La terapia humanista 
                    valora la experiencia individual y el potencial humano para el cambio y el crecimiento.
                </p>
        </div><br>

        <div class="request-detail">
            <h4>Terapia Gestalt</h4> 
                <p>
                    Se enfoca en la conciencia del aquí y ahora, ayudando a las personas a comprender 
                    sus pensamientos, emociones y comportamientos en el momento presente. Se utilizan 
                    técnicas creativas y experimentales para fomentar la autoconciencia y la autenticidad.
                </p>
        </div><br>
    </div>
    <div class="col-lg-5 mx-auto">
        <div class="request-detail">
            <h4>Terapia de Pareja</h4> 
                <p>
                    Diseñada para ayudar a las parejas a resolver conflictos, mejorar la comunicación y 
                    fortalecer la intimidad en su relación. Los terapeutas de pareja trabajan con ambas 
                    partes para mejorar la comprensión mutua y encontrar soluciones a los problemas de relación.
                </p>
        </div><br>

        <div class="request-detail">
            <h4>Terapia Familiar</h4> 
                <p>
                    Se centra en las dinámicas familiares y en cómo las interacciones familiares afectan el 
                    bienestar emocional de los individuos. Ayuda a las familias a entender y resolver conflictos, 
                    mejorar la comunicación y fortalecer los lazos familiares.
                </p>
        </div><br>

        <div class="request-detail">
            <h4>Terapia de Grupo</h4> 
                <p>
                    Implica reunir a varias personas que enfrentan problemas similares en un entorno grupal. 
                    Los participantes comparten sus experiencias y se brindan apoyo mutuo bajo la guía del 
                    terapeuta de grupo. Este enfoque puede proporcionar una sensación de comunidad y comprensión.
                </p>
        </div><br>

        <div class="request-detail">
            <h4>Terapia de Apoyo</h4> 
                <p>
                    Proporciona ayuda y orientación emocional a las personas que están enfrentando dificultades 
                    o crisis en sus vidas. El terapeuta ofrece un espacio seguro para que los individuos expresen 
                    sus sentimientos, miedos y preocupaciones, brindando apoyo emocional durante momentos difíciles.
                </p>
        </div><br>
    </div>
</div>

{% endblock masthead_content %}