{% extends "SharedTemplates/index.html" %}

{% block page_title %}
Búsqueda de Profesionales
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">Encontrá tu terapeuta</h1>
{% endblock masthead_title %}

{% block masthead_content %}
<form action="">
<table> 
    {{search_form}} 
    </table>
    <input type="submit" value="Buscar" />
</form>

<ul>
    {% for professional in professionals_found %}
        <li>{{professional}}</li>
    {% endfor %}
</ul>
    
{% endblock masthead_content %}