{% extends "SharedTemplates/index.html" %}

{% block page_title %}
Regístrese para utilizar la plataforma
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">Registro</h1>
{% endblock masthead_title %}

{% block masthead_content %}

<div class="request-detail">
    <form action={% url "register" %} method="post">
        {% csrf_token %}
        <table>
            {{formulario}}
        </table>
        <br>
        <input type="submit" value="Registrarse" />
    </form>
</div>

{% comment %} <div class="request-detail">
    <form method="post">
        {% csrf_token %}
        <input type="radio" name="user_type" value="therapist"> Terapeuta
        <input type="radio" name="user_type" value="patient"> Paciente
        <table>
            {{ formulario.as_table }}
        </table>
        <br>
        <input type="submit" value="Registrarse" />
    </form>
</div> {% endcomment %}

{% endblock masthead_content %}