{% extends "SharedTemplates/index.html" %}
{% load static %}

{% block page_title %}
Tu Perfil
{% endblock page_title %}

{% block masthead_title %}
<h1 class="masthead-heading text-uppercase mb-0">Tu perfil de paciente</h1>
{% endblock masthead_title %}

{% block masthead_content %}

<div class="request-detail">

    {% if user_data.avatar %}
        <img class="img-thumbnail" style=" height: 100px;" src="{{ user_data.avatar }}" alt="Avatar">
        <br>
    {% endif %}

    <br>
    <p><strong>Usuario:</strong> {{ user_data.username }}</p>
    <p><strong>Email:</strong> {{ user_data.email }}</p>
    <p><strong>Nombre:</strong> {{ user_data.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user_data.last_name }}</p>
    <p><strong>Edad:</strong> {{ user_data.age }}</p>
    <p><strong>Presupuesto:</strong> {{ user_data.budget }}</p>

    {% if user_data.link %}
        <p><strong>Enlace:</strong> <a href="{{ user_data.link }}">{{ user_data.link }}</a></p>
    {% endif %}

<div>

<button onclick="window.location.href='{% url 'edit_patient_profile' %}'">Editar datos</button><br>

{% endblock masthead_content %}